:root{
    --rosa: rgb(216, 127, 127);
    --cinza: lightsteelblue;
    --azul: skyblue;
}

body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: var(--rosa);
}

.quem_somos{
    background-color: var(--cinza);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: var(--azul);
}

.servicos{
    background-color: var(--cinza);
}

footer{
    background-color: var(--rosa);
}